/* LeetCode */
.button.button-leetcode {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  .button.button-leetcode:hover,
  .button.button-leetcode:focus {
    filter: brightness(90%);
  }

  /* Thangs */
.button.button-thangs {
  color: #ffffff;
  background-color: #fdb912;
  border: 1px solid #000000;
}
.button.button-thangs:hover,
.button.button-thangs:focus {
  filter: brightness(90%);
}

/* Model My Thing */
.button.button-modelmything {
  color: #ffffff;
  background-color: #3f04f3;
  border: 1px solid #ffffff;
}
.button.button-modelmything:hover,
.button.button-modelmything:focus {
  filter: brightness(90%);
}

/* Mermaid Co */
.button.button-mermaidco {
  color: #ffffff;
  background-color: #3b9775;
  border: 1px solid #ffffff;
}
.button.button-mermaidco:hover,
.button.button-mermaidco:focus {
  filter: brightness(90%);
}